<%= div_for comment do %>
<h3>
<%= comment.post %> &lt;<%= comment.email %>&gt; said:
<%= link_to 'Delete', [@article, comment], :confirm => 'Are you sure?', :method => :delete %>
</h3>
<%= comment.body %>
<% end %>








